*CIRCLE SQUARE*/
 div#circle {
  
  width: 100px;
  height: 100px;
  border: 15px solid red;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; 
  animation: circle 2s infinite forwards;


 }
 @keyframes circle {
   0%{border-color: red; transform: scale(1);}
   25%{border-color: gold; transform: scale(1.1);}
   50%{border-color: lime; transform: scale(1.3);}
   75%{border-color: dodgerblue; transform: scale(1.1);}
   100%{border-color: purple; transform: scale(1);}
 }
 div #square {
   width: 40px;
   height: 40px;
   border: 2px solid limegreen;
   animation-name: square-two;
   animation-duration: 2s;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in-out;
   animation-direction: alternate-reverse;

 }

 @keyframes square-two{
   0%{transform: rotate(0deg);}
   25%{border-color: magenta; border-width: 5px;}
   50%{border-color: coral; border-width: 8px;}
   75%{border-color: yellow; border-width: 16px;}
   100%{transform: rotate(360deg); border-width: 5px;}
 }
